// Breakpoints for media queries
@use "../abstracts/breakpoints" as media;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);

    @include media.breakpoint("lg") {
        max-width: 970px;
    }
    
    @include media.breakpoint("xl") {
        max-width: 1170px;
    }
}