// Breakpoints for media queries
@use "../abstracts/breakpoints" as media;

/* Focus styles */
:where(.wp-site-blocks *:focus) {
	outline: 1px solid var(--wp--preset--color--black);
	outline-offset: 2px;
}

/*
 * Reduce widows and orphans
 */
h1, h2, h3, h4, h5, h6, blockquote, caption, figcaption, p {
	text-wrap: pretty;
}

/*
 * Prevents scrollbars 
 */
:where(pre) {
	overflow-x: auto;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 40px;

	@include media.breakpoint("md") {
		font-size: var(--wp--preset--font-size--xx-large);
	}
}