@use "../abstracts/breakpoints" as media;

.card {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 335px;
    border-radius: 12px;
    position: relative;
    z-index: 0;
    background: linear-gradient(180deg, var(--wp--preset--color--white) 8.65%, var(--wp--preset--color--light-gray) 100%);

    @include media.breakpoint("md") {
        width: calc((100% - 32px) / 2);
        max-width: 350px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 4px;
        border-radius: inherit;
        background: conic-gradient(from 50.19deg at 50% 49.54%, var(--wp--preset--color--gold) 0deg, var(--wp--preset--color--purple) 79.73deg, var(--wp--preset--color--gold) 180deg, var(--wp--preset--color--purple) 246.23deg, var(--wp--preset--color--gold) 360deg);
        -webkit-mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
        mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    .card-link {
        height: 100%;
        padding: var(--wp--preset--spacing--x-small);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--wp--preset--spacing--small);

        @include media.breakpoint("md") {
            padding: var(--wp--preset--spacing--small);
        }

        &:hover {

            .card-title {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 2px;
            }
        }

        .card-content {

            .card-image {
                width: 303px;
                height: 162px;
                margin-bottom: var(--wp--preset--spacing--regular);

                @include media.breakpoint("md") {
                    aspect-ratio: 16/9;
                    width: 100%;
                    height: 100%;
                    max-width: 310px;
                    max-height: 170px;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            .card-categories {
                font-size: var(--wp--preset--font-size--small);
                font-weight: 700;
                line-height: 1.714;
                letter-spacing: 1%;
                color: var(--wp--preset--color--purple);
                margin-bottom: var(--wp--preset--spacing--small);
            }

            .card-title {
                margin-top: 8px;
                margin-bottom: var(--wp--preset--spacing--xx-small);
                font-size: 22px;
                color: var(--wp--preset--color--purple);
                line-height: 1.182;
                transition: all 0.3s ease-in-out;

                @include media.breakpoint("md") {
                    font-size: var(--wp--preset--font-size--x-large);
                    margin-top: var(--wp--preset--spacing--small);
                    line-height: 1.2;
                }
            }

            .card-description {
                font-size: var(--wp--preset--font-size--medium);
                color: var(--wp--preset--color--dark-gray);
                margin-top: 0;
                margin-bottom: 0;

                @include media.breakpoint("md") {
                    font-size: var(--wp--preset--font-size--large);
                }
            }
        }

        .call-to-action {
            color: var(--wp--preset--color--purple);
            display: flex;
            gap: 8px;
            align-self: flex-start;
            margin: 0;
            font-size: 15px;

            @include media.breakpoint("md") {
                font-size: var(--wp--preset--font-size--medium);
            }
        }
    }
}