/* Focus styles */
:where(.wp-site-blocks *:focus) {
  outline: 1px solid var(--wp--preset--color--black);
  outline-offset: 2px;
}

/*
 * Reduce widows and orphans
 */
h1, h2, h3, h4, h5, h6, blockquote, caption, figcaption, p {
  text-wrap: pretty;
}

/*
 * Prevents scrollbars 
 */
:where(pre) {
  overflow-x: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
@media (min-width: 730px) {
  h1 {
    font-size: var(--wp--preset--font-size--xx-large);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1340px) {
  .container {
    max-width: 1170px;
  }
}

.button {
  font-weight: 600;
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.button.button-secondary {
  border: 1.5px solid var(--wp--preset--color--dark-purple);
  color: var(--wp--preset--color--dark-purple);
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--wp--preset--color--white);
}
.button.button-secondary:hover {
  background-color: var(--wp--preset--color--dark-purple);
  color: var(--wp--preset--color--white);
}
.button.button-secondary:focus {
  outline-width: 1.5px;
  outline-offset: -5px;
  border-width: 1px;
}
.button.button-tertiary {
  color: var(--wp--preset--color--dark-purple);
}
.button.button-icon::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M13.75 6.625L8.25 11.875C7.9375 12.1562 7.46875 12.1562 7.1875 11.8438C6.90625 11.5312 6.90625 11.0625 7.21875 10.7812L11.375 6.8125H0.75C0.3125 6.8125 0 6.5 0 6.0625C0 5.65625 0.3125 5.3125 0.75 5.3125H11.375L7.21875 1.375C6.90625 1.09375 6.90625 0.59375 7.1875 0.3125C7.46875 0 7.96875 0 8.25 0.28125L13.75 5.53125C13.9062 5.6875 14 5.875 14 6.0625C14 6.28125 13.9062 6.46875 13.75 6.625Z' fill='%23642699'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 14px;
  height: 16px;
}

.button-unstyled {
  padding: 0;
  border: none;
  background-color: transparent;
}

.resource-filters {
  position: relative;
  margin-top: 0;
  margin-top: var(--wp--preset--spacing--xx-small);
}
.resource-filters #reset-filters-button {
  position: absolute;
  top: -50px;
  font-size: var(--wp--preset--font-size--small);
  display: none;
}
.resource-filters #reset-filters-button.active {
  display: block;
}
@media (min-width: 730px) {
  .resource-filters #reset-filters-button {
    top: -60px;
  }
}
.resource-filters .search-container {
  position: relative;
  margin-top: var(--wp--preset--spacing--small);
}
@media (min-width: 730px) {
  .resource-filters .search-container {
    margin-top: 0;
  }
}
.resource-filters .search-container #resource-search {
  display: block;
  border-radius: 4px;
  background-color: var(--wp--preset--color--light-gray);
  padding: 3px 40px 4px 0;
  align-items: center;
  font-size: var(--wp--preset--font-size--small);
  color: var(--wp--preset--color--dark-gray);
  padding-left: 14px;
  letter-spacing: 0.14px;
  border: 1px solid var(--wp--preset--color--gray);
  width: 100%;
  height: 43px;
}
.resource-filters .search-container #search-button {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%23642699' d='M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z'/%3E%3C/svg%3E");
  width: 18px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 11.5px;
  top: 0;
  cursor: pointer;
}
.resource-filters p {
  color: var(--wp--preset--color--dark-purple);
  font-size: var(--wp--preset--font-size--large);
  font-weight: 600;
  margin-top: var(--wp--preset--spacing--regular);
}
.resource-filters label {
  display: block;
  margin-bottom: var(--wp--preset--spacing--xx-small);
  font-size: var(--wp--preset--font-size--small);
}
@media (min-width: 992px) {
  .resource-filters label {
    font-size: var(--wp--preset--font-size--medium);
  }
}

@media (min-width: 730px) {
  .card-grid-wrapper {
    padding: 0 30px;
  }
}
.card-grid-wrapper #resource-count,
.card-grid-wrapper #no-results {
  color: var(--wp--preset--color--dark-purple);
  font-weight: 600;
}
.card-grid-wrapper .card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--wp--preset--spacing--regular);
  padding-top: var(--wp--preset--spacing--regular);
  margin-top: var(--wp--preset--spacing--x-small);
  border-top: 1px solid var(--wp--preset--color--purple);
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 335px;
  border-radius: 12px;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, var(--wp--preset--color--white) 8.65%, var(--wp--preset--color--light-gray) 100%);
  transition: 0.2s ease-in-out;
}
@media (min-width: 730px) {
  .card {
    width: calc((100% - 32px) / 2);
    max-width: 350px;
  }
}
.card:hover {
  box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.25);
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: inherit;
  background: conic-gradient(from 50.19deg at 50% 49.54%, var(--wp--preset--color--gold) 0deg, var(--wp--preset--color--purple) 79.73deg, var(--wp--preset--color--gold) 180deg, var(--wp--preset--color--purple) 246.23deg, var(--wp--preset--color--gold) 360deg);
  -webkit-mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
  mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.card .card-link {
  height: 100%;
  padding: var(--wp--preset--spacing--x-small);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--wp--preset--spacing--small);
  border-radius: 12px;
}
.card .card-link:focus {
  outline-offset: 4px;
}
.card .card-link:hover .headline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
@media (min-width: 730px) {
  .card .card-link {
    padding: var(--wp--preset--spacing--small);
  }
}
.card .card-link .card-content img {
  width: 303px;
  height: 162px;
  margin-bottom: var(--wp--preset--spacing--regular);
  object-fit: cover;
  border-radius: 12px;
}
@media (min-width: 730px) {
  .card .card-link .card-content img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    max-width: 310px;
    max-height: 170px;
  }
}
.card .card-link .card-content .eyebrow {
  font-size: var(--wp--preset--font-size--small);
  font-weight: 700;
  line-height: 1.714;
  letter-spacing: 1%;
  color: var(--wp--preset--color--purple);
  margin-bottom: var(--wp--preset--spacing--small);
}
.card .card-link .card-content .headline {
  margin-top: 8px;
  margin-bottom: var(--wp--preset--spacing--xx-small);
  font-size: 22px;
  color: var(--wp--preset--color--purple);
  line-height: 1.182;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .card .card-link .card-content .headline {
    font-size: var(--wp--preset--font-size--x-large);
    margin-top: var(--wp--preset--spacing--small);
    line-height: 1.2;
  }
}
.card .card-link .card-content .description {
  font-size: var(--wp--preset--font-size--medium);
  color: var(--wp--preset--color--dark-gray);
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .card .card-link .card-content .description {
    font-size: var(--wp--preset--font-size--large);
  }
}
.card .card-link .call-to-action {
  color: var(--wp--preset--color--purple);
  display: flex;
  gap: 8px;
  align-self: flex-start;
  margin: 0;
  font-size: 15px;
}
@media (min-width: 992px) {
  .card .card-link .call-to-action {
    font-size: var(--wp--preset--font-size--medium);
  }
}

.page-template-page-ebook-redesign .banner {
  background-image: linear-gradient(180deg, rgba(29, 6, 49, 0) 0, var(--wp--preset--color--extra-dark-purple) 75.67%), url("../images/banner-background.png");
  padding: var(--wp--preset--spacing--regular) 0;
}
@media (min-width: 730px) {
  .page-template-page-ebook-redesign .banner {
    padding: var(--wp--preset--spacing--large) 0;
  }
}
.page-template-page-ebook-redesign .banner h1 {
  color: var(--wp--preset--color--white);
  margin-bottom: 24px;
}
.page-template-page-ebook-redesign .banner p {
  font-size: 22px;
  color: var(--wp--preset--color--white);
  margin-top: 15px;
  margin-bottom: 24px;
  margin-left: 0 !important;
  max-width: 1100px;
  text-align: left;
}
@media (min-width: 730px) {
  .page-template-page-ebook-redesign .banner p {
    font-size: var(--wp--preset--font-size--x-large);
  }
}
.page-template-page-ebook-redesign .main {
  margin-top: var(--wp--preset--spacing--x-large);
  margin-bottom: var(--wp--preset--spacing--xx-large);
}
@media (min-width: 730px) {
  .page-template-page-ebook-redesign .main {
    margin-top: var(--wp--preset--spacing--xx-large);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1340px) {
  .page-template-page-ebook-redesign .main {
    max-width: 1600px;
  }
}

/*# sourceMappingURL=style.css.map */
