/* Focus styles */
:where(.wp-site-blocks *:focus) {
  outline: 1px solid var(--wp--preset--color--black);
  outline-offset: 2px;
}

/*
 * Reduce widows and orphans
 */
h1, h2, h3, h4, h5, h6, blockquote, caption, figcaption, p {
  text-wrap: pretty;
}

/*
 * Prevents scrollbars 
 */
:where(pre) {
  overflow-x: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--wp--preset--font-size--xx-large);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
  }
}
@media (min-width: 1340px) {
  .container {
    max-width: 1400px;
  }
}

.button {
  font-weight: 600;
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
}
.button.button-tertiary {
  color: var(--wp--preset--color--dark-purple);
}
.button.button-icon::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M13.75 6.625L8.25 11.875C7.9375 12.1562 7.46875 12.1562 7.1875 11.8438C6.90625 11.5312 6.90625 11.0625 7.21875 10.7812L11.375 6.8125H0.75C0.3125 6.8125 0 6.5 0 6.0625C0 5.65625 0.3125 5.3125 0.75 5.3125H11.375L7.21875 1.375C6.90625 1.09375 6.90625 0.59375 7.1875 0.3125C7.46875 0 7.96875 0 8.25 0.28125L13.75 5.53125C13.9062 5.6875 14 5.875 14 6.0625C14 6.28125 13.9062 6.46875 13.75 6.625Z' fill='%23642699'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 14px;
  height: 16px;
}

.card-grid-wrapper {
  margin-top: var(--wp--preset--spacing--xx-large);
  margin-bottom: var(--wp--preset--spacing--xx-large);
}
.card-grid-wrapper .card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--wp--preset--spacing--regular);
}

.card {
  flex: 0 0 350px;
  border-radius: 12px;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, var(--wp--preset--color--white) 8.65%, var(--wp--preset--color--light-gray) 100%);
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: inherit;
  background: conic-gradient(from 50.19deg at 50% 49.54%, var(--wp--preset--color--gold) 0deg, var(--wp--preset--color--purple) 79.73deg, var(--wp--preset--color--gold) 180deg, var(--wp--preset--color--purple) 246.23deg, var(--wp--preset--color--gold) 360deg);
  -webkit-mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
  mask: linear-gradient(var(--wp--preset--color--white)) content-box, linear-gradient(var(--wp--preset--color--white));
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.card .card-link {
  height: 100%;
  padding: var(--wp--preset--spacing--x-small);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--wp--preset--spacing--x-small);
}
.card .card-link:hover .card-title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.card .card-link .card-content .card-image {
  width: 310px;
  height: 170px;
  margin-bottom: var(--wp--preset--spacing--regular);
}
.card .card-link .card-content .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card .card-link .card-content .card-categories {
  font-size: var(--wp--preset--font-size--small);
  font-weight: 700;
  line-height: 1.714;
  letter-spacing: 1%;
  color: var(--wp--preset--color--purple);
  margin-bottom: var(--wp--preset--spacing--x-small);
}
.card .card-link .card-content .card-title {
  margin-top: var(--wp--preset--spacing--x-small);
  margin-bottom: var(--wp--preset--spacing--xx-small);
  font-size: var(--wp--preset--font-size--x-large);
  color: var(--wp--preset--color--purple);
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
}
.card .card-link .card-content .card-description {
  font-size: var(--wp--preset--font-size--large);
  color: var(--wp--preset--color--dark-gray);
  margin-top: 0;
  margin-bottom: 0;
}
.card .card-link .call-to-action {
  color: var(--wp--preset--color--purple);
  display: flex;
  gap: 8px;
  align-self: flex-start;
  margin: 0;
}

.page-template-page-ebook-redesign .banner {
  background-image: linear-gradient(180deg, rgba(29, 6, 49, 0) 0, var(--wp--preset--color--extra-dark-purple) 75.67%), url("../images/banner-background.png");
  padding: var(--wp--preset--spacing--x-large) 0;
}
.page-template-page-ebook-redesign .banner h1 {
  color: var(--wp--preset--color--white);
  margin-bottom: 24px;
}
.page-template-page-ebook-redesign .banner p {
  font-size: var(--wp--preset--font-size--x-large);
  color: var(--wp--preset--color--white);
  margin-top: 15px;
  margin-bottom: 24px;
  margin-left: 0 !important;
  max-width: 1100px;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
