<!-- wp:group {"className":"banner","layout":{"type":"constrained"}} -->
<div class="wp-block-group banner">
    
    <!-- wp:group {"className":"container","layout":{"type":"constrained"}} -->
    <div class="wp-block-group container">
        
        <!-- wp:heading {"level":1,"className":"wp-block-heading"} -->
        <h1 class="wp-block-heading">eBooks Library</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Discover the latest software security trends, business intelligence, and industry best practices to ensure security in a DevOps environment while maintaining developer velocity.</p>
        <!-- /wp:paragraph -->
        
    </div>
        <!-- /wp:group -->
        
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"black-duck-theme/card-grid"} /-->