@use "../abstracts/breakpoints" as media-queries;

.card-grid-wrapper {

    .card-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--wp--preset--spacing--regular);
    }
}
 
